{% extends "admin/change_list.html" %}

{% load humanize %}
{% block result_list %}

<!-- ... -->



<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Поставщик</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Деталь</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Кол-во деталей</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Итог</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Дата покупки</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' 'row3' row4 %}">
        <td> {{ row.suplier_detail__supplier__name }} </td>
        <td> {{ row.suplier_detail__detail__name }} {{row.suplier_detail__detail__vendore_code}} </td>
        <td> {{ row.quantity }} </td>
        <td> {{ row.total | intcomma }} руб. </td>
        <td> {{ row.date  }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<!-- ... -->

{% endblock %}